:root{
    --selectedDog: var(--poodle);
    --poodle: url(./images/dogs/poodle.png);
    --akita-inu: url(./images/dogs/akita-inu.png);
    --yorkie: url(./images/dogs/yorkshire-terrier.png);
    --corgi: url(./images/dogs/corgi.png);
    --golden-retriever: url(./images/dogs/golden-retriever.png);

    --selectedCat: var(--turkish-angora);
    --turkish-angora: url(./images/cats/turkish-angora.png);
    --siamese: url(./images/cats/siamese.png);
    --scottish-fold: url(./images/cats/scottish-fold.png);
}

.turkish-angora {
    background-image: var(--turkish-angora);
}
.siamese {
    background-image: var(--siamese);
}
.scottish-fold {
    background-image: var(--scottish-fold);
}
.golden-retriever {
    background-image: var(--golden-retriever);
}

.grid-container {
    display: grid;
}

h1 {
    text-align: center;
}

.container {
    position: relative;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    gap: 15px;
    margin: auto;
}

.game-square {
    background-color: #d3d3d3;
    min-height: 50px;
    min-width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 0;
}

.x{
    background-color: unset;
    background-image: var(--selectedDog);
    background-size: contain;
}

.o {
    background-color: unset;
    background-image: var(--selectedCat);
    /*cats looked little too big*/
    background-size: 95%;
    background-position: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.overlay{
    visibility: hidden;
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    text-align: center;
    background-color: rgba(255,255,255, 90%);
}

.visible {
    visibility: visible;
}

input[type="radio"] {
    appearance: none;
}

label.icon {
    display: inline-block;
    background-size: cover;
    width: 50px;
    height: 50px; 
}

.akita-inu {
    background-image: var(--akita-inu);
}

.corgi {
    background-image: url(./images/dogs/corgi.png);
}

.yorkie {
    background-image: url(./images/dogs/yorkshire-terrier.png);
}

.poodle {
    background-image: var(--poodle);
}

input[type="radio"]:not(:checked) + label.icon{
    filter: grayscale();
    opacity: 30%;

}
